{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% load user_filters %}

{% block content %}

<div class="generic-form">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <h3 class="mb-4">Login</h3>
        <!--  Error messages here -->
        {% for error in form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error|escape }}
        </div>
        {% endfor %}

        {% for field in form %}
        <div class="form-group">
            {% style_form_field field class="form-control item" placeholder=field.label %}
        </div>

        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-block create-account">Login</button>
        </div>
    </form>
</div>


{% endblock %}