{% extends 'base.html' %}
{% block title %} Posts {% endblock%}

{% load post_tags %}

{% block content %}

{% include 'categories.html' %}

<div class="row mt-4 justify-content-between">

    <div class="col">
        {% for post in posts %}
        {% include 'post_item.html' with user=user post=post %}
        {% endfor %}
    </div>


    {% generate_random_posts %}

</div>

{% if posts.has_other_pages %}
    {% include 'paginator.html' with items=posts paginator=paginator %}
{% endif %}

{% endblock %}