<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand ms-3 h1" href="{% url 'index' %}">Blog</a>
        <div class="d-flex justify-content-end">

            {% if user.is_authenticated %}

            <div class="nav-item dropdown me-2">
                <a class="nav-link dropdown-toggle text-muted" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!--  Image here -->
                    <span class="text-muted me-2">{{ user.username }}</span>
                    {% load thumbnail %}
                    {% thumbnail user.userprofile.avatar "35x35" crop="center" upscale=True as im %}
                        <img src="{{ im.url }}" style="width: 35px; height: 35px;"/>
                    {% endthumbnail %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'profile' username=user.username %}">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>

            {% else %}
            <a class="btn btn-primary btn-sm me-3" href="{% url 'login' %}">Login</a>
            <a class="btn btn-outline-primary btn-sm me-3" href="{% url 'signup' %}">SignUp</a>
            {% endif %}
        </div>
    </div>
</nav>