{% extends 'base.html' %}
{% block title %} Profile {{ author.username }} {% endblock %}


{% block content %}

<div class="row mt-4 justify-content-between">

    <!-- Profile navigation -->
    <div class="col-2">
        {% include 'profile_nav.html' with author=author profile_page=profile_page %}
    </div>

    <!-- Posts -->
    <div class="col">
        {% if not posts %}
        <h2 class="text-center">Empty profile</h2>
        {% endif %}

        {% for post in posts %}
        {% include 'post_item.html' with post=post user=user %}
        {% endfor %}

        {% if posts.has_other_pages %}
        {% include 'paginator.html' with items=posts paginator=paginator %}
        {% endif %}
    </div>

    <!-- User card -->
    <div class="col-4">
        <div class="d-flex justify-content-center">
            <div class="card p-3" style="width:100%;">
                <div class="d-flex">
                    {% load thumbnail %}
                    {% thumbnail author.userprofile.avatar "155x155" crop="center" upscale=True as im %}
                    <img class="card-img rounded-3" src="{{ im.url }}" />
                    {% endthumbnail %}

                    <div class="d-flex flex-column ms-3 justify-content-between" style="width: 100%;">
                        <h5>{{ author.username }}</h5>

                        <div class="text-muted my-2">
                            <h6>
                                Followers: {{ author.following.count }}
                            </h6>
                            <h6>
                                Following: {{ author.follower.count }}
                            </h6>
                            <h6>
                                Views: XXX
                            </h6>
                        </div>

                        {% if user != author %}

                        {% if following %}
                        <a class="btn btn-sm btn-outline-primary" href="{% url 'unfollow' username=author.username %}">Unfollow</a>
                        {% else %}
                        <a class="btn btn-sm btn-primary" href="{% url 'follow' username=author.username %}">Follow</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}